{%extends 'admin_view/base.html'%}
{%block title%}Department Form{%endblock%}
{%block content%}
<div class="container bg-light mx-auto" style="width:60rem; text-align:center">
    <h2 class="h1 my-5">Department Details</h2>
    <form action="" method="post">
        {%csrf_token%}
        {%for field in form%}
        <label class="form-label">{{field.label}}</label>
        <div class="form-control">{{field}}</div>
        {%endfor%}
        <input type="submit" class="btn btn-primary my-3 px-5 py-3" value="Save">
    </form>
</div>
{%endblock%}