{%extends 'admin_view/base.html'%}
{%block title%}Pay Grades{%endblock%}
{%block content%}
<div class="container bg-light py-5 ">
    <h2 class="h2 bg-warning p-5 border border-4 border-danger" >Salary Components</h2>
    <div class="container my-5">
        <a class="btn btn-warning" href="{%url 'pay_grade_form'%}">Add New Pay Grade</a>
    </div><div class="container" style="display:flex; flex-direction:row;flex-wrap:wrap;">

    {%for paygrade in pay_grades%}
    <div class="card p-2 m-3" style="width:35rem; background-color:whitesmoke;"><div class="title">{{paygrade.name}}</div>
        <div class="subtitle">Base Pay: {{paygrade.base_pay}}</div>
        <div class="subtitle">House Rent Allowance: {{paygrade.house_rent_allowance}}</div>
        <div class="subtitle">Dearness Allowance: {{paygrade.dearness_allowance}}</div>
        <div class="subtitle">Bonus : {{paygrade.bonus}}</div>
        <hr>
        <a class="btn btn-primary mb-1" href="{%url 'pay_grade_update' paygrade.id %}">Update</a>
        <a class="btn btn-danger" href="{%url 'pay_grade_delete' paygrade.id %}">Delete</a>
    </div>
    {%endfor%}
</div>
</div>
{%endblock%}