{%extends 'admin_view/base.html'%}
{%block title%}{%endblock%}
{%block content%}
<div class="container bg-light py-5 mx-auto" style="text-align:center">
    <h2 class="h2 py-5 mb-2 container bg-primary border border-2 border-info" style="color:white;">Enter The details</h2>
    <form action="" method="post" class="mt-4">
        {%csrf_token%}
        {%for field in form%}
        <label class="form-label">{{field.label}}</label>
        <div class="form-control">{{field}}</div>
        {%endfor%}
        <input type="submit" class="btn btn-primary my-3 px-5 py-3" value="Save">
    </form>
</div>
{%endblock%}